<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xutil.contentprovider">

    <permission
        android:name="com.skyworthdigital.upgrade.contentProvider.write"
        android:label="provider pomission"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider android:name=".UpgradeProvider"
            android:authorities="com.skyworthdigital.upgrade"
            android:exported="true"
            android:writePermission="com.skyworthdigital.upgrade.contentProvider.write"  />
    </application>

</manifest>